.modules {
  width: 60%;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 1);
  box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 1);
}

.calculations {
  width: 35%;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 1);
  box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 1);
}

.title {
  text-align: center;
  padding-bottom: 20px;
}