body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cecece;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.default-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.padding {
  padding: 10px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.flexBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}